{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎注册</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">

</head>
<body>
    <div class="login-header">
        <a href="#" class="logo"></a>
        <h1>欢迎注册</h1>
    </div>
    <div class="login-content">
        <div class="register-area">
            <form action="{% url 'pc:register' %}" method="post">
            <div class="form">

                {% csrf_token %}
                <div>
                    <lable>账户名：</lable>
                    <div class="base-text">
                        <input class="login-text" type="text" placeholder="邮箱/手机号" name="name" id="name" />
                    </div>
                    <span id="sp-name">
                        请输入邮箱/手机号
                    </span>
                </div>
                <div>
                    <lable>设置密码：</lable>
                    <div class="base-text">
                        <input class="login-text" type="password" name="password" id="password" />
                    </div>
                    <span id="sp-password">
                        6-20位字符，可使用字母、数字或符号的组合
                    </span>
                </div>
                <div>
                    <lable>确认密码：</lable>
                    <div class="base-text">
                        <input class="login-text" type="password" id="psd" />
                    </div>
                    <span id="sp-psd">
                        请再次输入密码
                    </span>
                </div>
                <div class="codearea">
                    <lable>验证码：</lable>
                    <div class="base-text base-text135">
                        <input class="login-text" type="text" placeholder="验证码" id="vericode" name="vericode" />
                    </div>
                    <p id="inn-vericode-p"><img src="" alt="" id="vc-img" onclick="getvc()"></p>

                    <span id="sp-vericode">
                        请输入验证码
                    </span>
                </div>
                <div class="agreement">
                    <lable>
                        <input type="checkbox" checked id="checkbox" />
                        我已阅读并同意
                        <a href="#">《拍鞋服务协议》</a>
                    </lable>
                </div>
                <p id="error-tip">{{ error }}</p>
                <span class="blue-button">
                    立即注册
                </span>

            </div>
            </form>
            <div class="side">
                我已有拍鞋网账户
                <br>
                现在就
                <a href="login.html">立即登录</a>
            </div>
        </div>
    </div>
    <div class="login-footer">
        Copyright © 2007-2016 Paixie.net All Rights Reserved 增值电信业务经营许可证：闽B2-20110084
    </div>
</body>
</html>

<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<script src="{% static 'js/jquery.cookie.js' %}"></script>
{#<script src="{% static 'js/user.js' %}"></script>#}
<script src="{% static 'js/register.js' %}"></script>

<script>
    var flag = true;
    var oInputVC = document.getElementsByName('vericode')[0];
    var oImgVC = document.getElementById('vc-img');
    {#var oA = document.getElementById('getvc');#}
    oInputVC.onclick = function(){
        console.log('23333');
        if(flag == true){
            oImgVC.src = {% url 'pc:getvericode' %}
                {#oA.innerText=' 换一张';#}
            flag = false
        }
    }

    function getvc(){
        $("#vc-img").attr("src",{% url 'pc:getvericode' %} +"?"+Math.random());

    }
</script>